@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #6366f1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --breakpoint-2xl: 1500px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, rgb(99, 187, 183) 11.2%, rgba(110, 123, 251, 1) 91.1%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

body::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-size: x-large;
}

.container {
  max-width: 1536px;
}

@media (min-width: 1500px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}